### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "HeroesOfPymoli.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#
totalplayers=purchasedata_df["SN"].nunique()
totalplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#
uniqueitems=purchasedata_df["Item Name"].nunique()
avgprice=purchasedata_df["Price"].mean()
totalpurchases=purchasedata_df["Item Name"].count()
totalrevenue=purchasedata_df["Price"].sum()
summary_df=pd.DataFrame([{"Unique Items":uniqueitems,"$ Avg. Price":round(avgprice,2),"Total Purchases":totalpurchases,"$ Total Revenue":totalrevenue}])
summary_df

   Unique Items  $ Avg. Price  Total Purchases  $ Total Revenue
0           179          3.05              780          2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#
individuals_df=purchasedata_df.drop_duplicates(subset="SN")
count=individuals_df["Gender"].value_counts()
percentages=100*count/totalplayers
demographics_df=pd.DataFrame({"Gender Counts":count,"Gender Percentages":percentages})
demographics_df

                       Gender Counts  Gender Percentages
Male                             484           84.027778
Female                            81           14.062500
Other / Non-Disclosed             11            1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#
bygender_df=purchasedata_df.groupby(["Gender"])
purchasecount=bygender_df["Price"].count()
purchasemean=bygender_df["Price"].mean()
purchasetotal=bygender_df["Price"].sum()
averagepurchase=purchasetotal/count
purchaseanalysis_df=pd.DataFrame({"Purchase Count":purchasecount,"$ Average Purchase Price":round(purchasemean,2),"$ Total Purchase Value":purchasetotal,"$ Average Purchase Price/Person":round(averagepurchase,2)})
purchaseanalysis_df

,Purchase Count,$ Average Purchase Price,$ Total Purchase Value,$ Average Purchase Price/Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#
bins=[0,9.9,13.9,17.9,21.9,25.9,29.9,33.9,37.9,41.9,45.9]
groupnames=["Age=<9","10=<Age=<13","14=<Age=<17","18=<Age=<21","22=<Age=<25","26=<Age=<29","30=<Age=<33","34=<Age=<37","38=<Age=<41","42=<Age=<45"]
age_df=individuals_df
age_df["Age Ranges"]=pd.cut(age_df["Age"],bins,labels=groupnames,include_lowest=True)
binned_df=age_df.groupby("Age Ranges")
agecount=binned_df["Purchase ID"].count()
agepercentage=100*agecount/totalplayers
agedemographics_df=pd.DataFrame({"Age Range Counts":agecount,"Age Range Percentages":agepercentage})
agedemographics_df

<ipython-input-6-3a38a542470e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df["Age Ranges"]=pd.cut(age_df["Age"],bins,labels=groupnames,include_lowest=True)

             Age Range Counts  Age Range Percentages
Age Ranges
Age=<9                     17               2.951389
10=<Age=<13                20               3.472222
14=<Age=<17                71              12.326389
18=<Age=<21               150              26.041667
22=<Age=<25               189              32.812500
26=<Age=<29                34               5.902778
30=<Age=<33                45               7.812500
34=<Age=<37                27               4.687500
38=<Age=<41                18               3.125000
42=<Age=<45                 5               0.868056

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#
analytic_df=purchasedata_df
analytic_df["Age Ranges"]=pd.cut(analytic_df["Age"],bins,labels=groupnames,include_lowest=True)
grouped_df=analytic_df.groupby("Age Ranges")
byagecount=grouped_df["Price"].count()
byagemean=grouped_df["Price"].mean()
byagesum=grouped_df["Price"].sum()
byageaverage=byagesum/agecount
ageinvestigation_df=pd.DataFrame({"Purchase Count":byagecount,"$ Average Purchase Price":round(byagemean,2),"$ Total Purchase Value":byagesum,"$ Average Purchase Price/Person":round(byageaverage,2)})
ageinvestigation_df

,Purchase Count,$ Average Purchase Price,$ Total Purchase Value,$ Average Purchase Price/Person
Age Ranges,,,,
Age=<9,23,3.35,77.13,4.54
10=<Age=<13,26,2.92,75.87,3.79
14=<Age=<17,89,3.01,267.60,3.77
18=<Age=<21,210,3.08,647.26,4.32
22=<Age=<25,263,3.05,800.90,4.24
26=<Age=<29,42,2.65,111.10,3.27
30=<Age=<33,64,3.00,191.87,4.26
34=<Age=<37,35,3.21,112.33,4.16
38=<Age=<41,23,3.51,80.72,4.48
42=<Age=<45,5,3.00,14.99,3.00

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#
topspenders_df=purchasedata_df.groupby("SN")
spendcount=topspenders_df["Price"].count()
spendaverage=topspenders_df["Price"].sum()/spendcount
spendsum=topspenders_df["Price"].sum()
topspendtable_df=pd.DataFrame({"Purchase Count":spendcount,"$ Average Purchase Price":round(spendaverage,2),"$ Total Purchase Value":spendsum})
topspendtable_df.nlargest(5,["$ Total Purchase Value"])

             Purchase Count  $ Average Purchase Price  $ Total Purchase Value
SN
Lisosia93                 5                      3.79                   18.96
Idastidru52               4                      3.86                   15.45
Chamjask73                3                      4.61                   13.83
Iral74                    4                      3.40                   13.62
Iskadarya95               3                      4.37                   13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [95]:
last=purchasedata_df.groupby(["Item ID","Item Name"])
last.sum()

                                                      Price
Item ID Item Name
0       Splinter                                       5.12
1       Crucifer                                      11.77
2       Verdict                                       14.88
3       Phantomlight                                  14.94
4       Bloodlord's Fetish                             8.50
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm  50.76
179     Wolf, Promise of the Moonwalker               26.88
181     Reaper's Toll                                  8.30
182     Toothpick                                     12.09
183     Dragon's Greatsword                            3.27

[179 rows x 1 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame