### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "HeroesOfPymoli.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
totalplayers=purchasedata_df["SN"].nunique()
totalplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
uniqueitems=purchasedata_df["Item Name"].nunique()
avgprice=purchasedata_df["Price"].mean()
totalpurchases=purchasedata_df["Item Name"].count()
totalrevenue=purchasedata_df["Price"].sum()
summary_df=pd.DataFrame([{"Unique Items":uniqueitems,"$ Avg. Price":avgprice,"Total Purchases":totalpurchases,"$ Total Revenue":totalrevenue}])
summary_df

   Unique Items  $ Avg. Price  Total Purchases  $ Total Revenue
0           179      3.050987              780          2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
individuals_df=purchasedata_df.drop_duplicates(subset="SN")
count=individuals_df["Gender"].value_counts()
percentages=100*count/totalplayers
demographics_df=pd.DataFrame({"Gender Counts":count,"Gender Percentages":percentages})
demographics_df

                       Gender Counts  Gender Percentages
Male                             484           84.027778
Female                            81           14.062500
Other / Non-Disclosed             11            1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
bygender_df=purchasedata_df.groupby(["Gender"])
purchasecount=bygender_df["Price"].count()
purchasemean=bygender_df["Price"].mean()
purchasetotal=bygender_df["Price"].sum()
averagepurchase=purchasetotal/count
purchaseanalysis_df=pd.DataFrame({"Purchase Count":purchasecount,"$ Average Purchase Price":purchasemean,"$ Total Purchase Value":purchasetotal,"$ Average Purchase Price/Person":averagepurchase})
purchaseanalysis_df

,Purchase Count,$ Average Purchase Price,$ Total Purchase Value,$ Average Purchase Price/Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
bins=[0,9.9,13.9,17.9,21.9,25.9,29.9,33.9,37.9,41.9,45.9]
groupnames=["Age=<9","10=<Age=<13","14=<Age=<17","18=<Age=<21","22=<Age=<25","26=<Age=<29","30=<Age=<33","34=<Age=<37","38=<Age=<41","42=<Age=<45"]
age_df=individuals_df
age_df["Age Ranges"]=pd.cut(age_df["Age"],bins,labels=groupnames,include_lowest=True)
binned_df=age_df.groupby("Age Ranges")
agecount=binned_df["Purchase ID"].count()
agepercentage=100*agecount/totalplayers
agedemographics_df=pd.DataFrame({"Age Range Counts":agecount,"Age Range Percentages":agepercentage})
agedemographics_df

<ipython-input-12-414d27f5f423>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df["Age Ranges"]=pd.cut(age_df["Age"],bins,labels=groupnames,include_lowest=True)

             Age Range Counts  Age Range Percentages
Age Ranges
Age=<9                     17               2.951389
10=<Age=<13                20               3.472222
14=<Age=<17                71              12.326389
18=<Age=<21               150              26.041667
22=<Age=<25               189              32.812500
26=<Age=<29                34               5.902778
30=<Age=<33                45               7.812500
34=<Age=<37                27               4.687500
38=<Age=<41                18               3.125000
42=<Age=<45                 5               0.868056

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
analytic_df=purchasedata_df
analytic_df["Age Ranges"]=pd.cut(analytic_df["Age"],bins,labels=groupnames,include_lowest=True)
grouped_df=analytic_df.groupby("Age Ranges")
byagecount=grouped_df["Price"].count()
byagemean=grouped_df["Price"].mean()
byagesum=grouped_df["Price"].sum()
byageaverage=byagesum/agecount
ageinvestigation_df=pd.DataFrame({"Purchase Count":byagecount,"$ Average Purchase Price":byagemean,"$ Total Purchase Value":byagesum,"$ Average Purchase Price/Person":byageaverage})
ageinvestigation_df

,Purchase Count,$ Average Purchase Price,$ Total Purchase Value,$ Average Purchase Price/Person
Age Ranges,,,,
Age=<9,23,3.353478,77.13,4.537059
10=<Age=<13,26,2.918077,75.87,3.793500
14=<Age=<17,89,3.006742,267.60,3.769014
18=<Age=<21,210,3.082190,647.26,4.315067
22=<Age=<25,263,3.045247,800.90,4.237566
26=<Age=<29,42,2.645238,111.10,3.267647
30=<Age=<33,64,2.997969,191.87,4.263778
34=<Age=<37,35,3.209429,112.33,4.160370
38=<Age=<41,23,3.509565,80.72,4.484444
42=<Age=<45,5,2.998000,14.99,2.998000

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [14]:
topspenders_df=purchasedata_df.groupby("SN")
spendcount=topspenders_df["Price"].count()
spendaverage=topspenders_df["Price"].sum()/spendcount
spendsum=topspenders_df["Price"].sum()
topspendtable_df=pd.DataFrame({"Purchase Count":spendcount,"$ Average Purchase Price":spendaverage,"$ Total Purchase Value":spendsum})
topspendtable_df.nlargest(5,["$ Total Purchase Value"])

             Purchase Count  $ Average Purchase Price  $ Total Purchase Value
SN
Lisosia93                 5                  3.792000                   18.96
Idastidru52               4                  3.862500                   15.45
Chamjask73                3                  4.610000                   13.83
Iral74                    4                  3.405000                   13.62
Iskadarya95               3                  4.366667                   13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
topitems_df=purchasedata_df.groupby("Item ID")
name=topitems_df["Item Name"]
itemcount=topitems_df["Item Name"].count()
itemprice=topitems_df["Price"]
itemtotal=topitems_df["Price"].sum()
toppop_df=pd.DataFrame({"Item Name":name,"Purchase Count":itemcount,"$ Price":itemprice,"$ Total Purchase Value":itemtotal})
toppop_df.nlargest(5,["Purchase Count"])

,Item Name,Purchase Count,$ Price,$ Total Purchase Value
Item ID,,,,
92,"(92, [Final Critic, Final Critic, Final Critic...",13,"(92, [4.88, 4.19, 4.88, 4.88, 4.88, 4.19, 4.19...",59.99
178,"(178, [Oathbreaker, Last Hope of the Breaking ...",12,"(178, [4.23, 4.23, 4.23, 4.23, 4.23, 4.23, 4.2...",50.76
82,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",9,"(82, [4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, ...",44.10
108,"(108, [Extraction, Quickblade Of Trembling Han...",9,"(108, [3.53, 3.53, 3.53, 3.53, 3.53, 3.53, 3.5...",31.77
132,"(132, [Persuasion, Persuasion, Persuasion, Per...",9,"(132, [3.19, 3.19, 3.19, 3.19, 3.19, 3.19, 3.1...",28.99

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
toppop_df.nlargest(5,["$ Total Purchase Value"])

,Item Name,Purchase Count,$ Price,$ Total Purchase Value
Item ID,,,,
92,"(92, [Final Critic, Final Critic, Final Critic...",13,"(92, [4.88, 4.19, 4.88, 4.88, 4.88, 4.19, 4.19...",59.99
178,"(178, [Oathbreaker, Last Hope of the Breaking ...",12,"(178, [4.23, 4.23, 4.23, 4.23, 4.23, 4.23, 4.2...",50.76
82,"(82, [Nirvana, Nirvana, Nirvana, Nirvana, Nirv...",9,"(82, [4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, 4.9, ...",44.10
145,"(145, [Fiery Glass Crusader, Fiery Glass Crusa...",9,"(145, [4.58, 4.58, 4.58, 4.58, 4.58, 4.58, 4.5...",41.22
103,"(103, [Singed Scalpel, Singed Scalpel, Singed ...",8,"(103, [4.35, 4.35, 4.35, 4.35, 4.35, 4.35, 4.3...",34.80